* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: white;
}

body {
    width: 100%;
    background-color: black;
}

/*MAIN*/
main {
    width: 90%;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
}

/*View options*/
.container-view-options {
    position: fixed;
    top: 10px;
    right: 5px;
    z-index: 10;
}

main a {
    color: white;
    text-decoration: none;
}

.view {
    display: inline;
    background-color: rgb(95, 95, 95);
    border-radius: 5px;
    padding: .2em .3em;
}

.fa-th {
    padding-right: .3em;
}


/*Zoom Users*/
.container-zoom-users {
    width: 220px;
    height: 120px;
    position: relative;
    margin-top: 20px;
}

.random-img {
    width: 220px;
    height: 120px;
    object-fit: cover;
    object-position: center;
}

.mute-speaker {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(148, 148, 148, 0.6);
    padding: .3em .5em;
}

.fa-microphone-slash {
    padding-right: .3em;
}


/*FOOTER*/
footer {
    width: 100%;
    height: 5.2rem;
    background-color: rgb(36, 36, 36);
    margin-top: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 6;

}

footer a {
    color: white;
    text-decoration: none;
}

.container-row-left , .container-row-center ,
.container-row-right {
    display: flex;
    align-items: center;
    text-align: center;
}

.container-mute {
    margin-left: 1em;
}

footer ul {
    list-style: none;
}

.fa-angle-up {
    font-size: 10px;
    margin-left: 1em;
    margin-right: 1em;
}

footer i {
    font-size: 22px;
}

.container-row-right {
    color: red;
    background-color: rgba(88, 88, 88, 0.5);
    padding:  2em;
}

.container-row-center li {
    margin-left: 1em;
    margin-right: 1em;
}

.fa-share-square {
    color: rgb(9, 241, 9);
}


